.inputs {
    display: flex;
    justify-content: space-around;
}

.inputs input, select {
    width: 100%;
    background: none;
    margin-left: 0px;
}

.inputs input[type="color"] {
    width: 70px;
}

.inputs p {
    margin-top: 0;
}

.flex {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.blob {
    height: auto;
}