.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  /* background: linear-gradient(135deg, #fceabb, #f8b500); */
  min-height: 80vh;
  text-align: center;
  animation: fadeIn 1s ease-in;
  /* background: #FF8B4E;
  background: linear-gradient(90deg, rgba(255, 139, 78, 1) 0%, rgba(255, 3, 105, 1) 99%); */
  /* background: #f3f4f6; */
   
}
.ImgHeading{
  display: flex;
  justify-content: center;
}

.heroSection {
  max-width: 700px;
  /* background-color: white; */
  /* padding: 40px;
  border-radius: 12px; */
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); */
  animation: slideUp 0.8s ease;
  
}

.mainHeading {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 20px;
  /* color: #333;
  color: rgba(255, 3, 105, 1); */
  color:#fff;
  margin-right: 40px;
}

.subText {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  /* color: #666; */
  color:#e0e0e0;
  margin-bottom: 30px;
  line-height: 1.6;
}

.mainButton {
  padding:12px 68px;
  font-size: 26px;
  /* background: linear-gradient(120deg, #ff6ec4, #7873f5); */
  /* background: #FF8B4E;
  background: linear-gradient(90deg, rgba(255, 139, 78, 1) 0%, rgba(255, 3, 105, 1) 99%); */
  color: white;
  /* color: #000; */
  background-color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
}
 .mainButton {
    --glow-color: rgb(255 255 255);
    --glow-spread-color: rgb(250 245 245 / 20%);
    --enhanced-glow-color: rgb(12 12 12 / 10%);
    --btn-color: #455A4B;
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    background-color: #94A798;
    border-radius: 8em;
      outline: none;
      box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.74em 0.25em var(--glow-color);
      text-shadow: 0 0 0.5em var(--glow-color);
      position: relative;
      transition: all 0.3s;
    }

    .mainButton ::after {
      pointer-events: none;
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--glow-spread-color);
      filter: blur(2em);
      opacity: 0.7;
      transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
    }

   .mainButton:hover {
      color: var(--btn-color);
      background-color: var(--glow-color);
      box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    }

   .mainButton :active {
      box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
    }

.mainButton:hover{
  /* transform: scale(1.05); */
  /* display: block;
  filter: drop-shadow(0 0 10px #fffdef); */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


/* Services Section */
.servicesSection {
  padding: 60px 20px;
  /* background: #f3f4f6; */
}