.header {
  width: 90%;
  margin: 30px auto;
  border: 1px solid #d3d3d373;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 37px;
  /* background: linear-gradient(120deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
  /* background: #FF8B4E;
  background: linear-gradient(90deg, rgba(255, 139, 78, 1) 0%, rgba(255, 3, 105, 1) 99%); */
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 24px;
  
}

.logo img{
  border-radius: 30px;
}
.navLinks {
  position: relative;
}

/* Hide the toggle checkbox */
#nav-toggle {
  display: none;
}

/* Default: hamburger hidden on desktop */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  padding: 10px;
}

/* Menu shown by default on larger screens */
.menu {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 6px;
  transition: background 0.2s ease;
  position: relative;
}


.headerSearchInput {
  margin-left: 16px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 220px;
}

.auth-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.username {
  font-weight: 500;
  color: #ffffff;
}

.logout-btn {
  background-color: #02020200;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}



@media (max-width: 390px) {
  .header {
    width: 90%;
  }
  .headerContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  .hamburger {
    display: block;
    color: #ccc;
  }

  .navLinks {
    flex-direction: row;
    width: auto;
  }
  /* .navLinks a {
    width: auto;
    margin-left: 10px;
    padding: 8px 12px;
  } */

  .menu {
    display: none;
    flex-direction: column;
    background: #131313;
    position: absolute;
    top: 100%;
    left: -100px;
    right: 0;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
  }

  #nav-toggle:checked + .hamburger + .menu {
    display: flex;
  }

  .menu a,
  .menu .historyBtn,
  .menu CustomDropdown {
    padding: 12px;
    width: 100%;
    text-align: center;
  }

  .headerSearchInput {
    margin-left: 16px;
    width: 20px;
  }
  .auth-section {
    flex-direction: row;
  }

  .logo img {
    width: 20px;
    border-radius: 1px;
  }

  /* .navLinks{
    display: none;
  } */
}
