.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    max-width: 900px;
    margin: 40px auto;
    padding: 24px;
    background-color: #d1d3d7;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.leftPanel {
    flex: 1;
    text-align: center;
}

.rightPanel {
    flex: 2;
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    margin-top: 80px;
    margin-left: 20px;
}

.fileInput {
    margin-top: 8px;
    width: 200px;
    padding: 10px;
    background: none;

}

.imagePreview {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.colorGrid {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.colorSwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorBox {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hexCode {
    margin-top: 8px;
    font-family: monospace;
    font-size: 14px;
}